<div class="login-wrapper">
  <div class="login-container">
    <div class="logo-area">
      <i class="fa-solid fa-graduation-cap"></i>
      <h1>Login</h1>
    </div>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="input-group">
        <label for="username">Usuário</label>
        <input
          type="text"
          id="username"
          name="username"
          [(ngModel)]="form.username"
          required
          #username="ngModel"
        />
      </div>

      <div class="input-group">
        <label for="password">Senha</label>
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="form.password"
          required
          #password="ngModel"
        />
      </div>

      <button type="submit" [disabled]="!loginForm.form.valid">
        Entrar
      </button>
    </form>

    <div class="register-text">
      <span>Não tem uma conta?</span>
      <a routerLink="/register">Registre-se aqui</a>
    </div>
  </div>
</div>

<!-- Ícones do Font Awesome -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>
