<div class="sidebar">
  <div class="sidebar-header">
    <div class="logo-icon"></div>
    <h2>Área do Professor</h2>
  </div>

  <nav class="sidebar-nav">
    <ul>
      <li><a routerLink="/professor/alunos" routerLinkActive="active">Meus Alunos</a></li>
      <li><a routerLink="/professor/notas" routerLinkActive="active">Lançar Notas</a></li>
    </ul>
  </nav>

  <button class="btn-logout" (click)="logout()">Sair</button>
</div>

<div class="main-content">
  <router-outlet></router-outlet>
</div>
